@charset "UTF-8";
body {
  font-family: 'FZLTXHK--GBK1-0';
  font-size: 14px; }

.content {
  overflow: hidden;
  background: #FAFAFA;
  width: 100%; }
  .content .clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0; }
  .content .table-s {
    padding-top: 62px; }
    .content .table-s .tab-detail {
      padding: 25px 0;
      border-bottom: 1px solid #D7E4EC; }
      .content .table-s .tab-detail .borl {
        border-left: 1px solid #D7E4EC; }
      .content .table-s .tab-detail .score {
        width: 94px;
        float: left;
        position: relative;
        text-align: center;
        margin-top: 10px; }
        .content .table-s .tab-detail .score .alert-message {
          display: none;
          position: absolute;
          padding: 7px;
          text-align: left;
          z-index: 100;
          width: 230px;
          height: 64px;
          background: #4D5775;
          font-size: 12px;
          color: #fff;
          top: -72px; }
        .content .table-s .tab-detail .score .mesbox {
          height: 100%;
          width: 100%; }
        .content .table-s .tab-detail .score .mesbox:before {
          content: "";
          width: 0;
          height: 0;
          z-index: 100;
          bottom: -8px;
          left: 44px;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 8px solid #4d5775;
          position: absolute;
          display: block; }
        .content .table-s .tab-detail .score .checkbox {
          height: 24px;
          width: 24px;
          margin: 0 auto;
          background: url(../image/大绿_未勾选.svg);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100%; }
        .content .table-s .tab-detail .score .checkboxed {
          background: url(../image/大绿_勾选.svg);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100%; }
      .content .table-s .tab-detail .level-top {
        float: left;
        background: #fff;
        width: 230px; }
        .content .table-s .tab-detail .level-top .text {
          float: left; }
          .content .table-s .tab-detail .level-top .text .text-top {
            font-size: 18px;
            padding-bottom: 6px;
            color: #000000; }
          .content .table-s .tab-detail .level-top .text .span {
            color: #3C4462;
            font-size: 12px; }
            .content .table-s .tab-detail .level-top .text .span span {
              color: #c7c7c7; }
        .content .table-s .tab-detail .level-top .img-boxs {
          margin-left: 27px;
          margin-right: 37px;
          float: left;
          width: 38px;
          height: 40px; }
          .content .table-s .tab-detail .level-top .img-boxs .levelimg {
            height: 100%;
            height: 100%; }
    .content .table-s .tab-text {
      overflow: hidden;
      line-height: 44px;
      text-align: center;
      color: #9098B8;
      font-size: 14px; }
      .content .table-s .tab-text .level-top {
        float: left;
        background: #f5f5f5;
        width: 230px; }
      .content .table-s .tab-text .score {
        float: left;
        background: #f5f5f5;
        width: 94px;
        position: relative; }
      .content .table-s .tab-text .problem {
        height: 44px; }
      .content .table-s .tab-text .problem:after {
        content: '?';
        color: #fff;
        line-height: 12px;
        text-align: center;
        position: absolute;
        top: 15px;
        height: 12px;
        width: 12px;
        border-radius: 100%;
        background: #D9DCE5;
        right: 39%; }
  .content .content-left .detail-box > div {
    width: 700px;
    position: relative; }
    .content .content-left .detail-box > div span.com_span {
      display: block;
      position: absolute;
      height: 16px;
      line-height: 16px;
      font-size: 14px; }
      .content .content-left .detail-box > div span.com_span em {
        font-size: 12px;
        height: 12px;
        margin-left: 10px;
        color: #999; }
  .content .content-left {
    width: 67.222222%;
    background: #fff;
    float: left; }
    .content .content-left .detail-box {
      width: 795px;
      padding-right: 95px;
      box-sizing: border-box;
      float: right;
      margin-bottom: 75px; }
      .content .content-left .detail-box .progressbar {
        margin-top: 28px; }
        .content .content-left .detail-box .progressbar .c-bar {
          width: 100%;
          height: 16px;
          padding: 7px 0;
          position: relative; }
          .content .content-left .detail-box .progressbar .c-bar .yuan-l-small {
            position: absolute;
            height: 8px;
            width: 8px;
            background: #3CC8B4;
            border-radius: 100%;
            left: 0;
            top: 4px; }
          .content .content-left .detail-box .progressbar .c-bar .yuan-h-small {
            position: absolute;
            height: 8px;
            width: 8px;
            background: #3CC8B4;
            border-radius: 100%;
            top: 4px; }
          .content .content-left .detail-box .progressbar .c-bar .yuanhuione {
            left: 66.666%; }
          .content .content-left .detail-box .progressbar .c-bar .yuanhuitwo {
            left: 33.3333%; }
          .content .content-left .detail-box .progressbar .c-bar .yuan-l-large {
            position: absolute;
            height: 16px;
            width: 16px;
            background: #3CC8B4;
            border-radius: 100%;
            right: 0;
            top: 0px; }
          .content .content-left .detail-box .progressbar .c-bar .c-bar-hui50 {
            border: 1px solid #EEEEEE;
            position: absolute;
            width: 0%;
            right: 0;
            top: 7px; }
          .content .content-left .detail-box .progressbar .c-bar .c-bar-kx {
            border: 1px solid #3CC8B4; }
        .content .content-left .detail-box .progressbar .c-bartitle {
          margin-bottom: 33px; }
          .content .content-left .detail-box .progressbar .c-bartitle .qdtitle {
            font-size: 14px;
            line-height: 28px;
            color: #333333; }
          .content .content-left .detail-box .progressbar .c-bartitle .preserve {
            height: 28px;
            width: 70px;
            line-height: 28px;
            float: right;
            padding-left: 32px;
            border-radius: 20px;
            box-shadow: 0 0 2px 1px #bdbdbd;
            background: url(../image/sure.png) no-repeat 9px center;
            background-size: 18px; }
      .content .content-left .detail-box .dueTime {
        height: 120px;
        border-bottom: 1px solid #979797;
        overflow: hidden; }
        .content .content-left .detail-box .dueTime .inputBox {
          height: 36px;
          width: 160px;
          margin-left: 270px;
          margin-top: 42px; }
          .content .content-left .detail-box .dueTime .inputBox input {
            height: 36px;
            width: 160px;
            border-radius: 4px;
            border: 1px solid #d9d9d9;
            background: #fff;
            text-indent: 12px;
            color: #333; }
        .content .content-left .detail-box .dueTime span {
          top: 44px; }
      .content .content-left .detail-box .taskName {
        height: 90px;
        border-bottom: 1px solid #979797; }
        .content .content-left .detail-box .taskName input {
          height: 36px;
          width: 430px;
          border-radius: 2px;
          border: 1px solid #eaeaea;
          margin-left: 270px;
          margin-top: 27px;
          background: #f8f8f8;
          font-size: 14px;
          color: #a9a9a9;
          text-indent: 15px; }
        .content .content-left .detail-box .taskName span {
          top: 27px; }
      .content .content-left .detail-box .bottomLink {
        height: 140px;
        margin-top: 52px;
        background: #fff; }
        .content .content-left .detail-box .bottomLink span {
          line-height: 40px;
          padding-left: 20px;
          background: url(../image/返回.svg) no-repeat center left;
          background-size: 12px 12px; }
        .content .content-left .detail-box .bottomLink .pay {
          float: right;
          width: 120px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-size: 14px;
          color: #fff;
          border-radius: 3px;
          border: 1px solid #979797;
          background: #4d5775; }
  .content .img-box img {
    height: 30px;
    width: 30px;
    display: block;
    margin: 28px auto 22px auto; }
  .content .yes {
    float: left;
    height: 14px;
    width: 14px;
    margin-right: 11px;
    background: url(../image/成功小绿勾.svg) no-repeat center center;
    background-size: 14px; }
  .content .detailtextdes {
    margin-left: 270px;
    padding-bottom: 31px;
    color: #6C7686; }
    .content .detailtextdes li {
      overflow: hidden; }
    .content .detailtextdes .xc {
      padding-top: 18px;
      padding-bottom: 11px; }
    .content .detailtextdes span {
      padding-right: 18px;
      float: left; }
    .content .detailtextdes .el {
      float: left;
      height: 14px;
      width: 14px;
      background: url(../image/删除.svg) no-repeat center center;
      background-size: 14px; }
  .content .desc {
    font-size: 12px;
    line-height: 20px;
    color: #999; }
  .content .content-right {
    float: left;
    width: 32.777778%;
    background: #FAFAFA;
    position: relative; }
    .content .content-right .sidebox {
      margin-left: 40px;
      width: 260px;
      height: 200px;
      margin-top: 115px;
      background: #fff; }

.content-right {
  float: left;
  width: 32.777778%;
  background: #FAFAFA;
  position: relative; }
  .content-right .sidebox {
    margin-left: 40px;
    width: 260px;
    min-height: 200px;
    margin-top: 115px;
    background: #fff;
    box-shadow: 0 0 2px 1px #ececec; }
    .content-right .sidebox .side-title {
      border-bottom: 1px solid #EEEEEE;
      padding-left: 38px;
      color: #3CC8B4;
      font-size: 14px;
      height: 49px;
      line-height: 49px;
      background: url(../image/xts.svg) no-repeat 15px center;
      background-size: 16px 18px; }
    .content-right .sidebox .side-text {
      padding: 20px;
      font-size: 14px;
      color: #666;
      line-height: 20px; }
      .content-right .sidebox .side-text .tetx-top {
        padding-bottom: 32px; }

.side-box-b {
  margin-top: 10px;
  width: 260px;
  margin-left: 40px;
  padding: 0px 20px 0 20px;
  background: #fff;
  box-shadow: 0 0 2px 1px #ececec; }
  .side-box-b .side-title {
    border-bottom: 1px solid #EEEEEE;
    padding-left: 27px;
    color: #3CC8B4;
    font-size: 14px;
    height: 49px;
    line-height: 49px;
    background: url(../image/费用明细.svg) no-repeat 2px center;
    background-size: 16px 18px; }
  .side-box-b .side-text {
    font-size: 14px;
    color: #666;
    line-height: 20px; }
    .side-box-b .side-text .dj-box {
      width: 140px;
      margin: 0 auto;
      height: 27px;
      line-height: 27px;
      text-align: center;
      border-radius: 20px;
      font-size: 14px;
      background: #979797;
      color: #fff;
      margin-top: 14px;
      margin-bottom: 20px; }

.moneylist {
  color: #666666;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 5px; }
  .moneylist .reds {
    color: #FF6248; }
    .moneylist .reds .detailb {
      position: relative; }
    .moneylist .reds .right {
      color: #FF6248; }
    .moneylist .reds .detailb:after {
      content: '?';
      color: #fff;
      line-height: 12px;
      text-align: center;
      position: absolute;
      top: 1px;
      height: 12px;
      width: 12px;
      border-radius: 100%;
      background: #FF6248;
      right: -18px; }

.item {
  overflow: hidden;
  padding: 5px 0; }
  .item .detail {
    padding-right: 23px; }
  .item .left,
  .item .right {
    width: 50%;
    float: left; }
  .item .right {
    text-align: right; }

.all {
  line-height: 50px;
  font-size: 12px; }
  .all .money {
    float: right;
    color: #FF6248;
    font-size: 14px; }

.bott-box {
  padding-top: 30px;
  display: none; }
  .bott-box .kinds-item {
    height: 80px;
    padding: 22px 22px;
    line-height: 36px;
    border-bottom: 1px solid #D7E4EC; }
    .bott-box .kinds-item .box-s {
      float: left;
      width: 165px; }
      .bott-box .kinds-item .box-s input {
        width: 60px;
        height: 36px;
        padding: 0 8px;
        line-height: 36px;
        float: left;
        border: 1px solid #efefef; }
      .bott-box .kinds-item .box-s span {
        width: 26px;
        height: 36px;
        display: block;
        float: left; }
      .bott-box .kinds-item .box-s .jian {
        margin-right: 16px;
        background: url(../image/圆减号_灰.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center; }
      .bott-box .kinds-item .box-s .jia {
        margin-left: 16px;
        background: url(../image/圆加号_亮.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center; }
      .bott-box .kinds-item .box-s .active {
        background: url(../image/圆减号_亮.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center; }
    .bott-box .kinds-item .yu {
      float: left;
      display: block;
      width: 67px;
      font-size: 12px;
      color: #BCC9D0;
      text-decoration: line-through; }
    .bott-box .kinds-item .xj {
      float: left;
      width: 128px;
      color: #727D9C; }
    .bott-box .kinds-item .sy {
      background: url(../image/首页.svg) no-repeat;
      background-size: contain;
      background-size: 23px 20px;
      background-position: 12px center; }
    .bott-box .kinds-item .cym {
      background: url(../image/长页面.svg) no-repeat;
      background-size: contain;
      background-size: 22px 23px;
      background-position: 12px center; }
    .bott-box .kinds-item .tcy {
      background: url(../image/弹窗.svg) no-repeat;
      background-size: contain;
      background-size: 23px 20px;
      background-position: 12px center; }
    .bott-box .kinds-item .nry {
      background: url(../image/内容页.svg) no-repeat;
      background-size: contain;
      background-size: 23px 20px;
      background-position: 12px center; }
    .bott-box .kinds-item .tabye {
      background: url(../image/tab页.svg) no-repeat;
      background-size: contain;
      background-size: 23px 20px;
      background-position: 12px center; }
    .bott-box .kinds-item .text {
      width: 295px;
      display: block;
      float: left;
      padding-left: 46px;
      line-height: 36px; }
  .bott-box .motitle {
    padding-bottom: 22px;
    line-height: 22px; }
    .bott-box .motitle .kinddes {
      color: #000;
      padding-right: 34px; }
    .bott-box .motitle .title-l {
      color: #C8C8C8;
      font-size: 12px; }
