.content {
    overflow: hidden;
    background: #FAFAFA;
    width: 100%;
    .content-left .detail-box>div {
        width: 700px;
        position: relative;
        span.com_span {
            display: block;
            position: absolute;
            height: 16px;
            line-height: 16px;
            font-size: 14px;
            em {
                font-size: 12px;
                height: 12px;
                // padding-top: 4px;
                margin-left: 10px;
                color: #999;
            }
        }
    }
    .content-left {
        width: 67.222222%;
        background: #fff;
        float: left;
        .detail-box {
            width: 795px;
            padding-right: 95px;
            box-sizing: border-box;
            float: right;
            margin-bottom: 75px;
            .progressbar {
                margin-top: 28px;
                .c-bar {
                    width: 100%;
                    height: 16px;
                    padding: 7px 0;
                    position: relative;
                    .yuan-l-small {
                        position: absolute;
                        height: 8px;
                        width: 8px;
                        background: #3CC8B4;
                        border-radius: 100%;
                        left: 0;
                        top: 4px;
                    }
                    .yuan-h-small {
                        position: absolute;
                        height: 8px;
                        width: 8px;
                        background: #3CC8B4;
                        border-radius: 100%;
                        top: 4px;
                    }
                    .yuanhuione {
                        left: 66.666%;
                    }
                    .yuanhuitwo {
                        left: 33.3333%;
                    }
                    .yuan-l-large {
                        position: absolute;
                        height: 16px;
                        width: 16px;
                        background: #3CC8B4;
                        border-radius: 100%;
                        right: 0;
                        top: 0px;
                    }
                    .c-bar-hui50 {
                        border: 1px solid #EEEEEE;
                        position: absolute;
                        width: 0%;
                        right: 0;
                        top: 7px;
                    }
                    .c-bar-kx {
                        border: 1px solid #3CC8B4;
                    }
                }
                .c-bartitle {
                    margin-bottom: 33px;
                    .qdtitle {
                        font-size: 14px;
                        line-height: 28px;
                        color: #333333;
                    }
                    .preserve {
                        height: 28px;
                        width: 70px;
                        line-height: 28px;
                        float: right;
                        padding-left: 32px;
                        border-radius: 20px;
                        box-shadow: 0 0 2px 1px #bdbdbd;
                        background: url(../image/sure.png) no-repeat 9px center;
                        background-size: 18px;
                    }
                }
            }
            .dueTime {
                height: 120px;
                border-bottom: 1px solid #979797;
                overflow: hidden;
                .inputBox {
                    height: 36px;
                    width: 160px;
                    margin-left: 270px;
                    margin-top: 42px;
                    input {
                        height: 36px;
                        width: 160px;
                        border-radius: 4px;
                        border: 1px solid #d9d9d9;
                    }
                }
                span {
                    top: 44px;
                }
            }
            .taskName {
                height: 90px;
                border-bottom: 1px solid #979797;
                input {
                    height: 36px;
                    width: 430px;
                    border-radius: 2px;
                    border: 1px solid #eaeaea;
                    margin-left: 270px;
                    margin-top: 27px;
                    background: #f8f8f8;
                    font-size: 14px;
                    color: #a9a9a9;
                    text-indent: 15px;
                }
                span {
                    top: 27px;
                }
            }
            .referWebsite {
                padding-bottom: 27px;
                border-bottom: 1px solid #979797;
                .inputBox {
                    height: auto;
                    width: 430px;
                    overflow: hidden;
                    margin-left: 270px;
                    margin-top: 27px;
                    input {
                        height: 36px;
                        width: 390px;
                        float: left;
                        border-radius: 2px;
                        border: 1px solid #eaeaea;
                        background: #f8f8f8;
                        font-size: 14px;
                        color: #a9a9a9;
                        text-indent: 15px;
                    }
                    .inputBtn {
                        float: left;
                        height: 36px;
                        width: 40px;
                        background: #f8f8f8;
                        border: 1px solid #eaeaea;
                        border-left: none;
                        color: #000;
                        justify-content: center;
                        /*子元素水平居中*/
                        align-items: center;
                        /*子元素垂直居中*/
                        display: -webkit-flex;
                    }
                }
                span {
                    top: 27px;
                }
            }
            .taskDescri {
                height: 410px;
                border-bottom: 1px solid #979797;
                textarea {
                    resize: none;
                    width: 430px;
                    height: 130px;
                    max-width: 430px;
                    max-height: 130px;
                    margin-left: 270px;
                    margin-top: 24px;
                    background: #f8f8f8;
                    border-radius: 2px;
                    border-color: #eaeaea;
                    font-size: 14px;
                    color: #a9a9a9;
                    text-indent: 15px;
                }
                .uploadBox {
                    width: 430px;
                    height: 150px;
                    margin-left: 270px;
                    margin-top: 16px;
                    background: #f8f8f8;
                    border-radius: 8px;
                    border: 2px dashed #eaeaea;
                    font-size: 14px;
                    text-align: center;
                    color: #a9a9a9;
                    .uptextdes {
                        padding-bottom: 11px;
                    }
                }
                span {
                    top: 24px;
                }
            }
            .bottomLink {
                height: 140px;
                margin-top: 52px;
                background: #fff;
                padding-top: 50px;
                //              align-items: center; /*子元素垂直居中*/
                //              display: -webkit-flex;
                span {
                    //                  float: left;
                    line-height: 40px;
                    padding-left: 20px;
                    background: url(../image/返回.svg) no-repeat center left;
                    background-size: 12px 12px;
                }
                .pay {
                    float: right;
                    width: 120px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    font-size: 14px;
                    color: #fff;
                    border-radius: 3px;
                    border: 1px solid #979797;
                    background: #4d5775;
                }
            }
        }
    }
    .img-box {
        img {
            height: 30px;
            width: 30px;
            display: block;
            margin: 28px auto 22px auto;
        }
    }
    .yes {
        float: left;
        height: 14px;
        width: 14px;
        margin-right: 11px;
        background: url(../image/成功小绿勾.svg) no-repeat center center;
        background-size: 14px;
    }
    .detailtextdes {
        margin-left: 270px;
        padding-bottom: 31px;
        color: #6C7686;
        li {
            overflow: hidden;
        }
        .xc {
            padding-top: 18px;
            padding-bottom: 11px;
        }
        span {
            padding-right: 18px;
            float: left;
        }
        .el {
            float: left;
            height: 14px;
            width: 14px;
            background: url(../image/删除.svg) no-repeat center center;
            background-size: 14px;
        }
    }
    .desc {
        font-size: 12px;
        line-height: 20px;
        color: #999;
    }
    .content-right {
        float: left;
        width: 32.777778%;
        background: #FAFAFA;
        position: relative;
        .sidebox {
            margin-left: 40px;
            width: 260px;
            height: 200px;
            margin-top: 115px;
            background: #fff;
        }
    }
}

.content-right {
    float: left;
    width: 32.777778%;
    background: #FAFAFA;
    position: relative;
    .sidebox {
        margin-left: 40px;
        width: 260px;
        min-height: 200px;
        margin-top: 115px;
        background: #fff;
        box-shadow: 0 0 2px 1px #ececec;
        .side-title {
            border-bottom: 1px solid #EEEEEE;
            padding-left: 38px;
            color: #3CC8B4;
            font-size: 14px;
            height: 49px;
            line-height: 49px;
            background: url(../image/xts.svg) no-repeat 15px center;
            background-size: 16px 18px;
        }
        .side-text {
            padding: 20px;
            font-size: 14px;
            color: #666;
            line-height: 20px;
            .tetx-top {
                padding-bottom: 32px;
            }
        }
    }
}

.side-box-b {
    margin-top: 10px;
    width: 260px;
    margin-left: 40px;
    padding: 0 20px 0 20px;
    background: #fff;
    box-shadow: 0 0 2px 1px #ececec;
    .side-title {
        border-bottom: 1px solid #EEEEEE;
        padding-left: 27px;
        color: #3CC8B4;
        font-size: 14px;
        height: 49px;
        line-height: 49px;
        background: url(../image/费用明细.svg) no-repeat 2px center;
        background-size: 16px 18px;
    }
    .side-text {
        font-size: 14px;
        color: #666;
        line-height: 20px;
        .dj-box {
            width: 140px;
            margin: 0 auto;
            height: 27px;
            line-height: 27px;
            text-align: center;
            border-radius: 20px;
            font-size: 14px;
            background: #979797;
            color: #fff;
            margin-top: 14px;
            margin-bottom: 20px;
        }
    }
}

.moneylist {
    color: #666666;
    border-bottom: 1px solid #EEEEEE;
    .reds {
        color: #FF6248;
        .detailb {
            position: relative;
        }
        .right {
            color: #FF6248;
        }
        .detailb:after {
            content: '?';
            color: #fff;
            line-height: 12px;
            text-align: center;
            position: absolute;
            top: 1px;
            height: 12px;
            width: 12px;
            border-radius: 100%;
            background: #FF6248;
            right: -18px;
        }
    }
}

.item {
    overflow: hidden;
    padding: 30px 0;
    .detail {
        padding-right: 23px;
    }
    .left,
    .right {
        width: 50%;
        float: left;
    }
    .right {
        text-align: right;
    }
}

.all {
    line-height: 50px;
    font-size: 12px;
    .money {
        float: right;
        font-size: 14px;
        color: #FF6248;
    }
}

.box-ys {
    margin-top: 30px;
    padding: 32px 0;
    border-bottom: 1px solid #979797;
    .ys {
        float: left;
        display: block;
        width: 270px;
        line-height: 36px;
    }
    .inputBox {
        height: 36px;
        width: 430px;
        position: relative;
        margin-left: 270px;
        position: relative;
        .money {
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            width: 40px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            color: #000;
            border-left: 1px solid #eaeaea;
        }
        input {
            height: 36px;
            width: 430px;
            background: #f8f8f8;
            border-radius: 4px;
            border: 1px solid #d9d9d9;
        }
    }
}