// $base-color: #00ffff;
// $color: red;
// body {
// 	background: lighten($base-color,10%);
// }
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'FZLTXHK--GBK1-0';
    font-size: 14px;
}

//content
.content {
    background: #fff;
    width: 100%;
    .content-left {
        width: 67.222222%;
        background: #fff;
        float: left;
        .detail {
            border-bottom: 1px solid #979797;
            margin-top: 75px;
            .text-tab {
                width: 270px;
                float: left;
                font-size: 14px;
                color: #000000;
            }
            .box-item-right {
                position: relative;
                margin-left: 270px;
                margin-bottom: 25px;
                .only-s {
                    padding-bottom: 40px;
                    border-bottom: 1px solid #979797;
                }
                .only-y {
                    margin-bottom: 18px;
                    font-size: 14px;
                    color: #666666;
                    .box_btn {
                        float: left;
                        height: 18px;
                        width: 18px;
                        margin-right: 10px;
                        input {
                            margin-left: -2000px;
                        }
                        label {
                            height: 18px;
                            width: 18px;
                            float: left;
                            background: url(../image/单选绿圆_灰.svg) no-repeat center center;
                            background-size: 18px 18px;
                        }
                        input:checked+label {
                            background: url(../image/单选绿圆_亮.svg) no-repeat center center;
                            background-size: 18px 18px;
                            height: 18px;
                            width: 18px;
                        }
                    }
                }
                .item-b {
                    height: 150px;
                    width: 133px;
                    margin-right: 12px;
                    display: inline-block;
                    vertical-align: top;
                    border: 1px solid #D7E4EC;
                    img {
                        display: block;
                    }
                    span {
                        display: block;
                        text-align: center;
                    }
                    .phone {
                        margin: 36px auto 20px auto;
                    }
                    .pc {
                        margin: 38px auto 20px auto;
                    }
                    .zxy {
                        margin: 38px auto 20px auto;
                    }
                }
                .item-b:last-child {
                    margin: 0;
                }
            }
        }
        .detail-box {
            width: 795px;
            padding-right: 95px;
            box-sizing: border-box;
            float: right;
            margin-bottom: 75px;
            .progressbar {
                margin-top: 28px;
                .c-bar {
                    width: 100%;
                    height: 16px;
                    padding: 7px 0;
                    position: relative;
                    .yuan-l-small {
                        position: absolute;
                        height: 8px;
                        width: 8px;
                        background: #3CC8B4;
                        border-radius: 100%;
                        left: 0;
                        top: 4px;
                    }
                    .yuan-h-small {
                        position: absolute;
                        height: 8px;
                        width: 8px;
                        background: #EEEEEE;
                        border-radius: 100%;
                        top: 4px;
                    }
                    .yuanhuione {
                        left: 75%;
                    }
                    .yuanhuitwo {
                        right: 0;
                    }
                    .yuan-l-large {
                        position: absolute;
                        height: 16px;
                        width: 16px;
                        background: #3CC8B4;
                        border-radius: 100%;
                        left: 25%;
                        top: 0px;
                    }
                    .c-bar-hui50 {
                        border: 1px solid #EEEEEE;
                        position: absolute;
                        width: 50%;
                        right: 0;
                        top: 7px;
                    }
                    .c-bar-kx {
                        border: 1px solid #3CC8B4;
                    }
                }
                .c-bartitle {
                    margin-bottom: 33px;
                    .qdtitle {
                        font-size: 14px;
                        line-height: 28px;
                        color: #333333;
                    }
                    .preserve {
                        height: 28px;
                        width: 70px;
                        line-height: 28px;
                        float: right;
                        padding-left: 32px;
                        border-radius: 20px;
                        box-shadow: 0 0 2px 1px #bdbdbd;
                        background: url(../image/sure.png) no-repeat 9px center;
                        background-size: 18px;
                    }
                }
            }
        }
    }
    .content-right {
        float: left;
        width: 32.777778%;
        background: #FAFAFA;
        position: relative;
        .sidebox {
            margin-left: 40px;
            width: 260px;
            height: 200px;
            margin-top: 115px;
            background: #fff;
            .side-title {
                border-bottom: 1px solid #EEEEEE;
                padding-left: 38px;
                color: #3CC8B4;
                font-size: 14px;
                height: 49px;
                line-height: 49px;
                background: url(../image/xts.svg) no-repeat 15px center;
                background-size: 16px 18px;
                ;
            }
            .side-text {
                padding: 20px;
                font-size: 14px;
                color: #666;
                line-height: 20px;
                .tetx-top {
                    padding-bottom: 32px;
                }
            }
        }
    }
}

.kinds {
    padding-top: 23px;
    padding-bottom: 205px;
    overflow: hidden;
    .kinds-item {
        float: left;
        padding: 0 17px;
        text-align: center;
        line-height: 28px;
        font-size: 14px;
        color: #666666;
        background: #EEEEEE;
        border-radius: 20px;
        margin-left: 10px;
        margin-bottom: 15px;
    }
}

.bottom-tab {
    padding-top: 50px;
    .go {
        float: right;
        line-height: 40px;
        width: 120px;
        color: #fff;
        background: #4D5775;
        text-align: center;
        border-radius: 4px;
    }
    .back {
        line-height: 40px;
        padding-left: 20px;
        background: url(../image/返回.svg) no-repeat center left;
        background-size: 12px 12px;
    }
}