// $base-color: #00ffff;
// $color: red;
// body {
// 	background: lighten($base-color,10%);
// }
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

//content
.content {
    background: #fff;
    width: 100%;
    .content-left {
        width: 67.222222%;
        background: #fff;
        float: left;
    }
    .content-right {
        float: left;
        width: 32.777778%;
        background: #FAFAFA;
        position: relative;
    }
}